{%extends 'layout.html' %}
{% block content %}

    <!-- cart area start -->
    <div class="cart-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="table-responsive mb-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="blank"></th>
                                    <th class="blank"></th>
                                    <th class="blank"></th>
                                    <th class="title-name">Plato</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key,value in request.session.cart.items %}
                                    <tr>
                                        <td class="table-close-btn"><a href="{% url 'delivery:eliminarCarrito' value.plato_id %}"><i class="ri-close-line"></i></a></td>
                                        <th scope="row"><img src="{{ value.imagen }}" alt="img"></th>
                                        <td colspan="2" class="item-name">
                                            <div class="details">
                                                <h5>{{ value.nombre }}</h5>
                                            </div>
                                        </td>
                                        <td>S/. {{ value.precio }}</td>
                                        <td class="table-quantity">
                                            <form>
                                                <div class="quantity buttons_added">
                                                    <input type="button" value="-" class="minus">
                                                    <input type="number" class="input-text qty text" step="1" min="1" max="10000" name="cantidad" value="{{value.cantidad}}">
                                                    <input type="button" value="+" class="plus">
                                                </div>
                                            </form>
                                        </td>
                                        <td>S/. {{ value.total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                    
                </div>
                <div class="col-lg-8">
                    <div class="promotional-area">
                        <form class="default-form-wrap" action="{% url 'delivery:limpiarCarrito' %}">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 text-md-end">
                                    <button type="submit" class="btn btn-base">LIMPIAR CARRITO</button>
                                </div>
                            </div>
                        </form>
                        <a class="btn btn-secondary w-100" href="/delivery"> AGREGAR MAS PLATOS</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="order-cart-area">
                        <div class="order-cart">
                            <h5>TOTAL</h5>
                            <ul>
                                <li class="total"><span>S/. {{ request.session.totalCart }}</span></li>
                            </ul>
                        </div>
                        <a class="btn btn-secondary w-100" href="{% url 'delivery:pedido' %}"> REALIZAR PEDIDO</a>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    <!-- cart area end -->

{% endblock %}