{% extends 'layout.html' %}
{% block content %}
<div class="checkout-area pd-top-120 pd-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="alert alert-danger" role="alert">
                    {{error}}
                  </div>
                <div class="bill-payment-wrap">
                    <h5>LOGIN DE USUARIO</h5>

                    <form class="default-form-wrap style-2" action="{% url 'delivery:login' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label>Usuario</label>
                                <div class="single-input-wrap">
                                    <input type="text" name="usuario" class="form-control" placeholder="tu nombre de usuario">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Password</label>
                                <div class="single-input-wrap">
                                    <input type="Password" name="clave" class="form-control" placeholder="tu clave">
                                </div>
                            </div>
                            
                                 <input type="submit" class="btn btn-base" value="INICIAR SESIÓN">
                                 <a href="#" class="btn btn-base">CREAR CUENTA</a>
                            
                        </div>
                    </form>
                </div>                    
            </div>
            
        </div>
    </div>
</div>
{% endblock %}