{% extends 'layout.html' %}
{% block content %}
<div class="shop-details-area pd-top-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="sticy-product">
                    <div class="product-thumbnail-wrapper">
                        <img src="{{ plato.imagen.url }}"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shop-item-details">                       
                    <h2 class="entry-title">{{ plato.nombre }}</h2>
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <h4 class="price">S. {{ plato.precio }}</h4>
                        </div>                            
                    </div>   
                    <p class="mt-4">{{ plato.descripcion }}</p>    
                    <form action="{% url 'delivery:agregarCarrito' plato.id %}" method="post">
                        {% csrf_token %}
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus">
                            <input type="number" class="input-text qty text" step="1" min="1" max="10000" name="cantidad" value="1">
                            <input type="button" value="+" class="plus">
                        </div>
                        <button type="submit" class="btn btn-secondary">AGREGAR AL CARRITO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}